<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Carousel VueJS</title>
</head>

<body>
    <div id="app">

        <section>
            <div v-for="(el, index) in slides" class="main-item" :class="currentIndex == index ? 'active' : '' ">
                <img  :src="el.items" alt="">
                <div class="photo-description">
                    <h2 class="title">{{el.title}}</h2>
                    <h3 class="subtitle">{{el.text}}</h3>    
                </div>
            </div>
    
            <div class="slider">
                <div v-for="(el, index) in slides" class="slide-wrapper">
                    <div class="item" :class="currentIndex == index ? 'active' : '' ">
                        <img :src="el.items" @click="currentIndex = el" alt="">
                    </div>
                </div>
                
                <div class="arrows">
                    <span @click="prevFunction()" class="prev"><i class="fa-solid fa-angle-up"></i></span>
                    <span @click="nextFunction()" class="next"><i class="fa-solid fa-angle-down"></i></span>
                </div>
            </div>
        </section>

    </div>


    <script src="app.js"></script>
</body>
</html>